/* Vars */
:root {
    --color-white: #fff;
    --color-1: #333;
    --bg-color-1: #fdfdfd;
    --text-color-1: #102f5e;
}

/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("../img/bg1.jpg");
    background-size: cover;
}

/* Buttons */

button {
    background-color: var(--bg-color-1);
    color: var(--text-color-1);
    border: 2px solid var(--text-color-1);
    padding: .3rem .6rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover {
    background-color: var(--text-color-1);
}

button:hover > i {
    color: var(--color-white);
}

#cancel-edit-btn:hover {
    color: var(--color-white);
}

button i {
    color: var(--text-color-1);
    font-weight: bold;
    pointer-events: none;
}

/* inputs e select */
input, select {
    padding: .25rem .5rem;
}

.hide {
    display: none;
}

/* Todo header */
.todo-container {
    max-width: 450px;
    margin: 3rem auto 0;
    background-color: var(--bg-color-1);
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 5px 8px 5px rgba(0, 0, 0, .3);
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
}